<div class="flex items-center gap-6">
  <a href="#" class="p-3 bg-white/25 hover:bg-white/40 rounded-[100px]"> <img src="/assets/images/dash-lg.svg" alt="dash" class="w-[24px]" /></a>

  <span class="text-h5">1</span>
  <a href="#" class="p-3 bg-white/25 hover:bg-white/40 rounded-[100px]"> <img src="/assets/images/plus-lg.svg" alt="plus" class="w-[24px]" /></a>
</div>
