<div class="relative bg-neutral-400 py-4 px-12 rounded-[100px] grow hover:bg-primary-1/70 hover:shadow-[0_0_20px_rgba(236,109,39,0.6),0_0_40px_rgba(125,125,125,0.3)]">
  <input type="address" placeholder="台北市大安區新生南路..." class="placeholder-neutral-100" />
  <span>|</span>
  <span>立即外送</span>
  <img src="/assets/images/address.svg" alt="address" class="absolute left-4 top-4" />
  <img src="/assets/images/down.svg" alt="down-arrow" class="absolute right-4 top-4" />
</div>
