<div class="bg-linear-to-b from-neutral-300 to-neutral-400 w-[416px] flex p-6">
  <div class="w-100 mr-2">
    <p class="mb-1"><%= title1 %></p>
    <p class="mb-4"><%= title2 %></p>
    <a
      href="#"
      class="text-white py-3 px-6 border border-white-40 rounded-[100px] inline-block"
    >
      <%= subTitle %>
    </a>
  </div>
  <img src="<%= url %>" alt="banner" />
</div>
