<a href="#" class="rounded-[8px] hover:bg-neutral-300 active:bg-primary-1 focus:bg-primary-1">
  <div class="p-2 w-[196px] shrink-0">
    <img src="<%= url %>" alt="<%= title %>" class="mb-2" />
    <p class="text-white text-center"><%= title %></p>
  </div>
</a>
