<div>
  <a href="#" data-bs-toggle="dropdown" role="button" aria-expanded="false" data-bs-offset="0,12"
    ><div class="p-4 flex w-[220px] rounded-[100px] bg-neutral-400 relative border border-white/25">
      <p>
        <%= title %>
        <span class="absolute right-4 top-4"><img src="/assets/images/down.svg" alt="down" /></span>
      </p>
    </div>
  </a>
<ul class="dropdown-menu rounded-[24px] bg-neutral-300">
  <% for (let i = 1; i <= items; i++) { %>
    <li>
      <a class="block p-4 w-[240px]" href="#">
       <%= locals[`items${i}`] %>
      </a>
    </li>
  <% } %>
</ul>
</div>
