<footer class="flex flex-col items-center py-15">
  <a href="index.html" class="px-2 min-w-[140px] rounded-2xl hover:bg-primary-1/20 hover:shadow-[0_0_20px_rgba(236,109,39,0.6),0_0_40px_rgba(125,125,125,0.3)] mb-4"> <img src="/assets/images/logo.svg" alt="logo" /></a>
  <p>© 權利說明</p>
</footer>
