<form class="relative">
  <input
    type="search"
    placeholder="搜尋餐點"
    class="bg-neutral-400 p-4 rounded-[100px] w-[400px] placeholder-neutral-100"
  />
  <img
    src="/assets/images/search.svg"
    alt="search"
    class="absolute right-4 top-4"
  />
</form>
