<div class="relative grow">
  <input type="search" placeholder="搜尋餐點" class="bg-neutral-400 p-4 rounded-[100px] w-full placeholder-neutral-100 hover:bg-primary-1/70 hover:shadow-[0_0_20px_rgba(236,109,39,0.6),0_0_40px_rgba(125,125,125,0.3)] focus:bg-neutral-400" />
  <img src="/assets/images/search.svg" alt="search" class="absolute right-4 top-4" />
</div>
