<div class="flex">
  <span class="mr-6 p-3 bg-white/25 rounded-[100px]"
    ><img src="/assets/images/left-arrow.svg" alt="left-arrow"
  /></span>
  <span class="p-3 bg-white/25 rounded-[100px]"
    ><img src="/assets/images/right-arrow.svg" alt="right-arrow"
  /></span>
</div>
