          <% if (locals.state) { %>
<div class="shrink-0 bg-neutral-300 border border-white/25 inline-block rounded-[100px]" data-seg-group="service">
  <button type="button" class="py-3 px-6 data-[on=true]:bg-primary-1 data-[on=true]:text-white rounded-[100px] hover:bg-primary-1/70 hover:shadow-[0_0_20px_rgba(236,109,39,0.6),0_0_40px_rgba(125,125,125,0.3)]" aria-pressed="true" data-on="true" data-seg-btn>外送<p>20-30 分鐘<span>・$45</span></p></button>
  <button type="button" class="py-3 px-6 data-[on=true]:bg-primary-1 data-[on=true]:text-white rounded-[100px] hover:bg-primary-1/70 hover:shadow-[0_0_20px_rgba(236,109,39,0.6),0_0_40px_rgba(125,125,125,0.3)]" aria-pressed="false" data-on="false" data-seg-btn>外帶<p>15 分鐘<span>・1.5 公里</span></p></button>
</div>
        <% }else {%>
<div class="shrink-0 bg-neutral-300 border border-white/25 inline-block rounded-[100px]" data-seg-group="service">
  <button type="button" class="py-3 px-6 data-[on=true]:bg-primary-1 data-[on=true]:text-white rounded-[100px] hover:bg-primary-1/70 hover:shadow-[0_0_20px_rgba(236,109,39,0.6),0_0_40px_rgba(125,125,125,0.3)]" aria-pressed="true" data-on="true" data-seg-btn>外送</button>
  <button type="button" class="py-3 px-6 data-[on=true]:bg-primary-1 data-[on=true]:text-white rounded-[100px] hover:bg-primary-1/70 hover:shadow-[0_0_20px_rgba(236,109,39,0.6),0_0_40px_rgba(125,125,125,0.3)]" aria-pressed="false" data-on="false" data-seg-btn>外帶</button>
</div>
              <% } %>