<div
  class="bg-neutral-300 border border-white/25 inline-block rounded-[100px]"
  data-seg-group="service"
>
  <button
    type="button"
    class="py-3 px-6 data-[on=true]:bg-primary-1 data-[on=true]:text-white rounded-[100px]"
    aria-pressed="true"
    data-on="true"
    data-seg-btn
  >
    外帶
  </button>
  <button
    type="button"
    class="py-3 px-6 data-[on=true]:bg-primary-1 data-[on=true]:text-white rounded-[100px]"
    aria-pressed="false"
    data-on="false"
    data-seg-btn
  >
    外送
  </button>
</div>
