<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>index</title>
    <link rel="stylesheet" href="/assets/all.css" />
  </head>

  <body class="bg-bg text-neutral-100">
    <%- include('./layout/header'); -%>
    <main class="mx-auto max-w-[1296px] px-3">
      <section class="py-15">
        <%- include('./layout/step',{currentStep: 1}); -%>
        <h1 class="text-white text-h1 mb-4">夜肉場</h1>
        <div class="mb-8"><%- include('./layout/card-cart',{title:"烤梅花豬肉定食",specialPrice:"$300",originalPrice:"$340",url:"/assets/images/food/food-1.png"}); -%> <%- include('./layout/card-cart',{title:"烤梅花豬肉定食",specialPrice:"$300",originalPrice:"$340",url:"/assets/images/food/food-1.png"}); -%></div>
        <div class="mb-8 flex justify-between"><%- include('./layout/btn',{url:"#",title:"團購訂單"}); -%> <%- include('./layout/btn',{url:"#",title:"繼續加點"}); -%></div>
        <div>
          <p class="flex text-h5 text-white mb-4">餐點金額 <span class="ml-auto">$650</span></p>
          <p class="flex text-h5 text-white mb-4">外送費 <span class="ml-auto">$40</span></p>
          <p class="flex text-h5 text-white mb-4">優惠碼: OwlEat<span class="ml-auto">-$50</span></p>
          <hr class="mb-4" />
          <p class="flex text-h5 text-white mb-8">總計<span class="ml-auto">$640</span></p>
        </div>

        <div class="mb-8 flex justify-end"><%- include('./layout/btn',{url:"paid.html",title:"前往結帳"}); -%></div>
      </section>
    </main>
    <%- include('./layout/footer'); -%>
    <script type="module" src="../main.js"></script>
  </body>
</html>
