<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>index</title>
    <link rel="stylesheet" href="/assets/all.css" />
  </head>

  <body class="bg-bg text-neutral-100">
    <%- include('./layout/header'); -%>
    <main class="mx-auto max-w-[1296px] px-3">
      <section class="py-15">
        <%- include('./layout/step',{currentStep: 3}); -%>
        <form>
          <h2 class="text-white text-h2 mb-4">訂購資訊</h2>
          <div class="grid grid-cols-12 items-center gap-4 mb-4">
            <p class="text-h5 col-span-4 md:col-span-2">訂購人姓名</p>
            <p class="block w-full text-h5 text-white px-3 py-2 col-span-8 md:col-span-3">王曉芳</p>
          </div>
          <div class="grid grid-cols-12 items-center gap-4 mb-4">
            <p class="text-h5 col-span-4 md:col-span-2">聯絡電話</p>
            <p class="block w-full text-h5 text-white px-3 py-2 col-span-8 md:col-span-3">0912345678</p>
          </div>
          <div class="grid grid-cols-12 items-center gap-4 mb-4">
            <p class="text-h5 col-span-4 md:col-span-2">外送地址</p>
            <p class="block w-full text-h5 text-white px-3 py-2 col-span-8 md:col-span-3">台北市大安區新生南路1段56號</p>
          </div>
          <div class="grid grid-cols-12 items-center gap-4 mb-12">
            <p class="text-h5 col-span-4 md:col-span-2">外送時間</p>
            <p class="block w-full text-h5 text-white px-3 py-2 col-span-8 md:col-span-3">10 ~ 25 分鐘</p>
          </div>
          <div class="mb-12">
            <h2 class="text-white text-h2 mb-4">付款方式</h2>
            <div class="flex items-center">
              <p class="block w-full text-h5 text-white px-3 py-2 col-span-8 md:col-span-3">現金付款</p>
            </div>
          </div>
          <div class="grid grid-cols-12">
            <h2 class="col-span-12 text-white text-h2 mb-4">訂單摘要</h2>
            <p class="col-span-11 text-h5 text-white mb-4">餐點明細</p>
            <p class="col-span-1 col-start-12 text-h5 justify-self-end">$680</p>
            <p class="col-span-9 col-start-2 text-h6 text-white mb-4">烤梅花豬肉定食 *1 $300</p>
            <p class="col-span-9 col-start-2 text-h6 text-white mb-4">烤牛五花定食 *1 $380</p>
            <p class="col-span-11 text-h5 text-white mb-4">外送費</p>
            <p class="col-span-1 text-h5 col-start-12 justify-self-end">$40</p>
            <p class="col-span-11 text-h5 text-white mb-4">優惠碼: OwlEat</p>
            <p class="col-span-1 text-h5 col-start-12 justify-self-end">-$50</p>
            <hr class="col-span-12 mb-4" />
            <p class="col-span-11 text-h5 text-white mb-4">總計</p>
            <p class="col-span-1 text-h5 col-start-12 justify-self-end">$670</p>
          </div>
          <div class="grid grid-cols-12 items-center gap-4 mb-12">
            <p class="text-white text-h5 col-span-4 md:col-span-2">備註</p>
            <p class="text-white text-h5 px-3 py-2 col-span-8 md:col-span-3">調味請清淡一些</p>
          </div>
        </form>
      </section>
    </main>
    <%- include('./layout/footer'); -%>
    <script type="module" src="../main.js"></script>
  </body>
</html>
